# Dependency directories
node_modules/
npm-debug.log

# Environment variables
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env*
!.env.example

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db


request responses.txt
unix_to_ist.py
# responses/
models/User.js